body {
  background-color: #b5825e;
}

.wrapper {
  width: 90%;
}

.gallery {
  max-width: 90%;
  list-style: none;
}

.gallery img {
  max-width: 45%;
  float: left;
}


@media screen and (min-width: 480px) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) {
  
}
